.text-type {
  display: flex;
  white-space: pre-wrap;
  justify-content: center;
  align-items: center;
}

.text-type__cursor {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
}

.text-type__cursor--hidden {
  display: none;
}

.particles-container {
  position: relative;
  width: min 100wv;
  height: min 100vh;
}
