@import "tailwindcss";
@import "tw-animate-css";

.particles-container {
  position: relative;
  width: 100%;
  min-height: 100vh;
}

.skill-page {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}
